# === PRODUCCIÓN — copiar a .env en el servidor ===
APP_ENV=production
APP_DEBUG=false

DB_CONNECTION=mysql
DB_HOST=srv960.hstgr.io
DB_PORT=3306
DB_DATABASE=u550512989_blog
DB_USERNAME=u550512989_blogUser
DB_PASSWORD=Ymvctr891220*

SESSION_DRIVER=file
CACHE_STORE=file
